<div>
  <div ng-if="!orgUnit"></div>
  <div ng-if="orgUnit">
    <div ng-click="selectOrgUnit(orgUnit)">
      <i ng-if="orgUnit.children && orgUnit.children.length > 0 && orgUnit.collapse" class="fa fa-angle-right" aria-hidden="true"></i>
      <i ng-if="orgUnit.children && orgUnit.children.length > 0 && !orgUnit.collapse" class="fa fa-angle-down" aria-hidden="true"></i>
      {{orgUnit.displayName}}
    </div>
    
    <md-list ng-if="!orgUnit.collapse">
      <md-list-item ng-repeat="child in orgUnit.children">
        <org-unit-hierarchy-nested org-unit="child" selected="selected"></org-unit-hierarchy-nested>
      </md-list-item>
    </md-list>
  </div>
</div>
